html {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Helvetica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("z.jpg");
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2ex;
}


/* ____________________________________LEFT_____________________________________ */

.left {
    width: 150px;
    height: max-content;
    margin: 3ex;
}

.titre {
    text-align: center;
    border: none;
    margin-bottom: 1ex;
    padding: 2ex;
    background-color: rgb(228, 228, 228);
    /* border-radius: 0.5ex; */
    font-size: 14px;
    width: 100%;
}

.titre:hover {
    background-color: #f7f7f7;
}

.liste {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    /* padding: 1ex; */
    /* border-radius: 1ex; */
}

.liste button {
    /* margin: 0.5ex; */
    border: none;
    padding: 1ex;
    padding-bottom: 1.5ex;
    background-color: rgb(228, 228, 228);
    /* border-radius: 0.5ex; */
    font-size: 14px;
    border-bottom: solid 1px;
}

.liste button:hover {
    /* opacity: 0.9; */
    background-color: #f7f7f7;
}


/* __________________________________RIGHT_______________________________________ */

.right {
    width: 70%;
    height: 100%;
    margin: 2ex;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.legende {
    text-align: center;
    padding: 1ex;
    font-size: 30px;
}

.carte {
    width: 60%;
    height: 25ex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    padding-left: 2.5ex;
    padding-right: 2.5ex;
    /* border: solid black 1px; */
}

.c:hover .flip-inner {
    transform: rotateX(180deg);
}

.c {
    background-color: transparent;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    /* border: 1px solid black; */
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flipfront,
.flipback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipfront {
    background-color: #f7f7f7;
}

.flipback {
    background-color: #f7f7f7;
    transform: rotateX(180deg);
}

#flipclair {
    background-color: rgb(77, 77, 77);
    text-shadow: 1px 1px black;
}